@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --color-brand-yellow: #FFC107;
  --color-brand-dark: #121212;
  --color-brand-gray: #1E1E1E;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
}